@import "tailwindcss";

@tailwind utilities;

@layer base {
    html {
        @apply bg-white text-black;
        transition: background-color 0.3s, color 0.3s;
    }

    html.dark {
        @apply bg-linear-to-b from-[#010735] to-[#000317];
        /* @apply bg-gray-600 text-black; */
    }
}